SuperVillainAPI.iml
.idea/.gitignore
.idea/.name
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__io_rest_assured_json_path_4_3_1.xml
.idea/libraries/Maven__io_rest_assured_rest_assured_4_3_1.xml
.idea/libraries/Maven__io_rest_assured_rest_assured_common_4_3_1.xml
.idea/libraries/Maven__io_rest_assured_xml_path_4_3_1.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
.idea/libraries/Maven__junit_junit_4_13.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_3.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_3.xml
.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_1_2_1.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_3_0_3.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_json_3_0_3.xml
.idea/libraries/Maven__org_codehaus_groovy_groovy_xml_3_0_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_2_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_json_json_20200518.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/CovidUsersTest.txt
target/surefire-reports/TEST-CovidUsersTest.xml
target/test-classes/CovidUsersTest.class
